<?xml version="1.0" encoding="UTF-8"?>
<plugin name="saiku-reporting" title="saiku-reporting" loader="DEFAULT">

  <lifecycle-listener class="org.saiku.reporting.backend.pho.SaikuReportingLifecycleListener"/>

  <overlays>
    <overlay id="startup.saikuReporting"  resourcebundle="content/saiku-reporting/web/saiku-adhoc.properties" priority="1">
  		<menubar id="newmenu">
  			<menuitem id="new-saiku-report" label="Saiku Report" command="mantleXulHandler.openUrl('Saiku Reporting','Saiku Reporting','content/saiku-reporting/web/index.html?biplugin=true')" />		
  			<menuitem id="new-saiku-crosstab-report" label="Saiku Crosstab-Report" command="mantleXulHandler.openUrl('Saiku Reporting','Saiku Reporting','content/saiku-reporting/web/index.html?biplugin=true&amp;mode=crosstab')" />		
  		</menubar>				
    </overlay>
  </overlays>

    <content-types>
    	<content-type mime-type="application/zip" type="srpt">
		<title>Saiku Reporting</title>
		<description>Saiku Reporting File</description>
		<icon-url>content/saiku-ui/images/src/saiku_16.png</icon-url>
			<operations>
				<operation>
					<id>EDIT</id>
					<perspective>editor</perspective>
				</operation>
				 <operation>
            		<id>RUN</id>
            		<perspective>viewer</perspective>
          		</operation>
			</operations>
        </content-type>
    </content-types>

	<static-paths>
		<static-path url="/saiku-reporting/web" localFolder="web" />
		<static-path url="/saiku-reporting/web/js/templates" localFolder="web/js/templates" />
		<static-path url="/saiku-reporting/web/js" localFolder="web/js" />
		<static-path url="/saiku-reporting/resources" localFolder="resources/templates" />
		<static-path url="/saiku-reporting/web/css" localFolder="web/css" />
		<static-path url="/saiku-reporting/web/images" localFolder="web/images" />
	</static-paths>

	<!--content-generator id="saiku-reporting" title="fa la la la la, la la la la" type="saiku-reporting" class="org.saiku.reporting.backend.pho.ServletAdapterContentGenerator"/-->

</plugin>
